server:
  servlet:
    encoding:
      force: true
      charset: UTF-8
      enabled: true
    context-path: /

spring:
  thymeleaf:
    prefix: classpath:templates/
    suffix: .html
    cache: false
  datasource:
    password: tester
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3306/test
    username: root


  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      show-sql: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: .
            client-secret: .
            scope:
              - email
              - profile

          facebook:
            client-id: .
            client-secret: .
            scope:
              - email
              - public_profile



