<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Board List</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--부트스트랩 css 추가-->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
</head>
<body>
<h1 th:text="${FreeBoard.boardTitle}">title</h1>
<p th:text="${FreeBoard.boardContent}">content</p>
<a th:href="@{/board/delete/{id}(id=${FreeBoard.boardNo})}">글 삭제</a>
<a th:href="@{/board/modify/{id}(id=${FreeBoard.boardNo})}">글 수정</a>
</body>
</html>