* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  margin: 0;
  background-color: #d4eaf3;
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-form {
    padding: 20px;
    background-color: #EEEFF1;
    width: 500px;
    display: block;
    margin: 300px auto auto auto;
    border-radius: 5px;
    padding-bottom: 50px;
    padding-top: 50px;

    }
.submit-btn:hover{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
}

.text-field {
  font-size: 14px;
  border-style: none;
  padding: 10px;
   margin-bottom: 10px;
    border-radius: 5px;
    width: 460px;
    color: #9B9B9B;
}

.submit-btn {
  font-size: 14px;
  background-color: #45bae9;
    border-style: none;
    padding: 10px;
    margin: auto auto 20px auto;
    border-radius: 5px;
    width: 460px;
    color: white;

}

.links {
    text-align: center;
    padding-bottom: 2%;
}

.links a {
  font-size: 15px;
  color: #9B9B9B;
  text-decoration: none;
  padding: 7px;

}

#navbar-brand{
  text-decoration: none;
}

#main{
  text-align: center;
  margin-right: 20px;
  margin-bottom: 30px;
  font-size: 35px;
}

#pipe{
  color: #9B9B9B;
}

#googlelogo{
  width: 10%;
}

#facebooklogo{
  width: 10%;
}